<!DOCTYPE html>
<html>


<style>
*{
 margin:0px;
 padding:0px;
}
.dropdown{
 position:relative;
 display:inline-block;
}
.button{
 background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.drop-content{
 display:none ;
 position:absolute;
 z-index:1;
 width:120px;
}
.drop-content a{
 display:block;
 background:#dfdfdf;
 padding:10px;
 color:black;
 text-decoration:none;
 font-size:20px;
 margin-top:2px;
}
.dropdown:hover .drop-content{
 display:block;
}
</style>


<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">

	<title>TEACHER</title>
</head>
<body>

	<header class="site-header">
		  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
		    <div class="container">
		      <a class="navbar-brand mr-4" href="/">STUDENT ATTENDANCE MANAGEMENT SYSTEM</a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		      </button>
		        <!-- Navbar Right Side -->
		        <div class="navbar-nav">    
                  <div class="dropdown">
  <button class="button">Register</button>
  <!-- this menu will appear if we hover on the button -->
  <div class="drop-content">
   <a href="/register_student">Student</a>
   <a href="/register_teacher">Teacher</a>
  </div>
 </div>


                  <div class="dropdown">
  <button class="button">Login</button>
  <!-- this menu will appear if we hover on the button -->
  <div class="drop-content">
   <a href="/login_student">Student</a>
   <a href="/login_teacher">Teacher</a>
  </div>
 </div>
</div>
		      </div>
		    </div>
		  </nav>
		</header>





		<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
        <tr>
            <td>ID:</td>
            <td>{{ account['id'] }}</td>
        </tr>
    </table>
</div>


<div>
 <button type="button"> <a href="/display_teacher2">Enter Student Details</a></button> 
</div>

<div><button type="button"> <a href="/display_teacher3">Generate Report</a></button> </div>


<!--<form method="POST" action="">
    <center>
    <H1>Enter Student details </H1> <br>
    USERNAME <input type = "text" name= "username" /> <br>
    DBMS <input type = "number" name = "dbms" /> <br>
    CN <input type = "number" name= "cn" /> <br>
    ATC <input type = "number" name = "atc" /> <br>
    <input type = "submit">
    </center>
-->




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</form>





		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




                <script type="text/javascript">
            /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
} 
        </script>
</body>
</html>